<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:title" content="<%= app.name %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= url() %>">
    <meta property="og:image" content="<%= url('/logo.png') %>">
    <meta property="og:site_name" content="<%= app.name %>">
    <meta property="og:description" content="Facebook app">
    <meta property="fb:app_id" content="<%= app.id %>">

    <title><%= app.name %></title>

    <link href="/stylesheets/app.css" rel="stylesheet" media="all">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
      (function() {
        WebFontConfig = {
          google: { families: [ 'Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic:latin' ] }
        };
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); 
    </script>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= url_no_scheme("/channel.html") %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        FB.Event.subscribe('auth.login', function(response) {
          window.location = window.location;
        });

        FB.Event.subscribe('edge.create', function(href, widget) {
          if(href.indexOf('pages/Wedstrijdcommissie') !== -1) {
            // Like button was pressed...
            $('#formulier').show();
          }
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- BODY -->

    <header>
      <div class="title">
        <% if(user) { %>
        <h1>Welkom <%= user.first_name %>!<br><span>Volg de instructies hieronder om mee te doen aan de prijsvraag.</span></h1>
        <% } else { %>
        <h1>Welkom!<br><span>Volg de instructies hieronder om mee te doen aan de prijsvraag.</span></h1>
        <% } %>
      </div>
    </header>

    <section class="row">
      <h2><span>1</span> Like de pagina</h2>
      <p>
        <div class="fb fb-like-box" data-href="https://www.facebook.com/pages/Wedstrijdcommissie/252766061434821" data-width="292" data-show-faces="false" data-stream="false" data-header="false"></div>
      </p>
    </section>

    <section class="row" id="formulier" <% if(typeof signed_request !== 'undefined' && signed_request.page.liked !== true) { %>style="display: none;"<% } %>>
      <h2><span>2</span> Vul het formulier in</h2>
      <iframe width="100%" height="425px" src="http://www.ymere.nl/projectinschrijvingen/?id=147" scrolling="no" frameborder="0"></iframe>
    </section>

    <!-- £ -->
  </body>
</html>